@import '../../index.scss';

#notFound{
    font-family: $fontfamily;
    width: $main;
    height: 10rem;
    background: white;
    margin: 2rem  0 ;
    @include flexbox($dir: row);
    >div{
        height: 100%;
        &:first-child{
            @include flexbox;
            width:  30%;
            >svg{
                width: 5rem;
                height: 5rem;
                fill: $yellow
            }
        }
        &:last-child{
            width: 70%;
            @include flexbox ($ai: flex-start);
            >h1{
                font-size: 1.5rem;
                padding: 1rem 0;
            }
            >ul{
                list-style: disc;
                >li{
                    padding: 0.5rem 0;
                }
            }
        }
    }
  
  }