@import "reset";

// FONTS
@font-face{
    font-family: "Roboto";
    src: url('./fonts/roboto/Roboto-Light.ttf') format('ttf')
}

//fonts
$fontfamily: "Roboto";

// COLORS 
$yellow             :#FFF159;
$grey               :#EDEDED;
$white              :#FFFFFF;
$lightBlue          :#3483FA;
$green              :#97CF00;
$bone               :#f5f5f5;
$opaque            :#c0c0c0;
$palid             : #bdbcbb;



//-------- MEDIAQUERIES --------
$tablet    : 768px;
$desktop   : 1024px;
$desktop_m : 1280px;
$desktop_xl: 1920px;

//-------- MIXINS MEDIA QUERIES --------
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin desktop_uhd {
  @media (min-width: #{$desktop_xl + 1px}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

// SIZES
$main           : 62rem;
$header         : 3rem;

// ANIMATION MIXINS
@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
      @content;
    }
  
    @-moz-keyframes #{$animation_name} {
      @content;
    }
  
    @-ms-keyframes #{$animation_name} {
      @content;
    }
  
    @-o-keyframes #{$animation_name} {
      @content;
    }
  
    @keyframes #{$animation_name} {
      @content;
    }
  }
  
  @mixin loading_spinner($t: 2rem, $s: $yellow, $r: $opaque, $m: 1rem) {
    width           : $t;
    height          : $t;
    border          : $t/5 solid $r;
    border-radius   : 50%;
    border-top-color: $s;
    margin          : $m;
    animation       : spin 1s ease-in-out infinite;
  
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  } 


// MIXINS 
@mixin flexbox($jc: center, $ai: center, $dir: column) {
  justify-content: $jc;
  align-items    : $ai;

  @if $dir==row {
    flex-direction: $dir;
  }
}

#main{
    width: 100vw;
}

#loading{
  @include loading_spinner()
}

