@import "../../index.scss";

#header {
    font-family: $fontfamily;
    height      :$header ;
    background  : $yellow ;
    @include flexbox( center, center, row);

    img{
        width: 3rem;
        height: 2rem;
        margin: 0 1rem;
    }
    form{
        @include flexbox( center, center, row);
        height: 2rem;

        input{
            width: 55rem;
            font-family: $fontfamily;
            height: 100%;
            padding: 0.5rem
    }
        input::placeholder{
            color: rgba(0, 0, 0, 0.2);
        }
    button{
        width: 2rem;
        height: 100%;
        @include flexbox( $ai: center, $jc: center);
        cursor: pointer;
        background: white;
        border-left: solid 1px rgba(0,0,0,0.2) ;
        >svg{
            fill: rgba(0,0,0,0.2)
        }       
        
    }
    

        
    }
}