@import "reset";

// FONTS
@font-face{
    font-family: "Roboto";
    src: url('./fonts/roboto/Roboto-Medium.ttf') format('ttf')
}
$fontfamily: "Roboto";



// COLORS 
$yellow             :#FFF159;
$grey               :#EDEDED;
$white              :#FFFFFF;
$lightBlue          :#3483FA;

$darkBlue       :#1B263C;
$green          :#97CF00;
/* $shadow         :rgba(0, 0, 0, 0.2); */
$bone           :#f5f5f5;
$opaque         :#c0c0c0;
$palid          : #bdbcbb;



//-------- MEDIAQUERIES --------
$tablet    : 768px;
$desktop   : 1024px;
$desktop_m : 1280px;
$desktop_xl: 1920px;

//-------- MIXINS MEDIA QUERIES --------
@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin desktop_uhd {
  @media (min-width: #{$desktop_xl + 1px}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop_m - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin edge {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

// SIZES

$header         : 3rem;
$headerMobile   : 3rem;
$corner         : 0.5rem;

// ANIMATION MIXINS
@mixin keyframes($animation_name) {
    @-webkit-keyframes #{$animation_name} {
      @content;
    }
  
    @-moz-keyframes #{$animation_name} {
      @content;
    }
  
    @-ms-keyframes #{$animation_name} {
      @content;
    }
  
    @-o-keyframes #{$animation_name} {
      @content;
    }
  
    @keyframes #{$animation_name} {
      @content;
    }
  }
  
  @mixin animacion($str) {
    -webkit-animation: #{$str};
    -moz-animation   : #{$str};
    -ms-animation    : #{$str};
    -o-animation     : #{$str};
    animation        : #{$str};
  }
  
  @include keyframes(letters) {
    0% {
      opacity: 0;
      display: none;
    }
  
    70% {
      opacity: 0;
      display: flex;
    }
  
    100% {
      opacity: 1;
      display: flex;
    }
  }
  
  @mixin toon($e: all, $t: 0.5s, $d: 0s) {
    transition: $e $t cubic-bezier(0.8, 0, 0.2, 1) $d;
  }
  
  @mixin loading_spinner($t: 2rem, $s: $lightBlue, $r: $opaque, $m: 1rem) {
    width           : $t;
    height          : $t;
    border          : $t/5 solid $r;
    border-radius   : 50%;
    border-top-color: $s;
    margin          : $m;
    animation       : spin 1s ease-in-out infinite;
  
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  } 


// MIXINS 
@mixin flexbox($jc: center, $ai: center, $dir: column) {
  justify-content: $jc;
  align-items    : $ai;

  @if $dir==row {
    flex-direction: $dir;
  }
}


@mixin button($c: $lightBlue,
$lc: $c,
  $bg: white,
  $hover_c: white,
  $hover_bg: $lightBlue) {
  @include toon();
  height          : 2.25rem;
  color           : $lc;
  background-color: $bg;
  align-items     : center;
  border          : solid 1px $c;
  border-radius   : 200px;
  font-weight     : bold;
  padding         : 0.5rem 1rem;
  cursor          : pointer;

  a {
    color: $lc;
  }

  @if $hover_c {
    &:hover {
      color     : $hover_c;
      background: $hover_bg;
    a{
        color: $hover_c
    }
    }
    
  }
}

@mixin switch() {
    /* The switch - the box around the slider */
    .switch {
      position : relative;
      display  : inline-block;
      min-width: 3rem;
      height   : 1.3rem;
      border   : 0;
    }
  
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width  : 0;
      height : 0;
    }
  
    /* The slider */
    .slider {
      position          : absolute;
      cursor            : pointer;
      top               : 0;
      left              : 0;
      right             : 0;
      bottom            : 0;
      background-color  : #ccc;
      -webkit-transition: 0.4s;
      transition        : 0.4s;
    }
  
    .slider:before {
      position        : absolute;
      content         : "";
      height          : 1.23rem;
      width           : 1.23rem;
      left            : 4px;
      top             : 1px;
      background-color: white;
      transition      : 0.4s;
    }
  
    input:checked+.slider {
      background-color: $lightBlue;
    }
  
    input:focus+.slider {
      box-shadow: 0 0 1px $lightBlue;
    }
  
    input:checked+.slider:before {
      -webkit-transform: translateX(1.1rem);
      -ms-transform    : translateX(1.1rem);
      transform        : translateX(1.1rem);
    }
  
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
  
    .slider.round:before {
      border-radius: 50%;
    }
  }
  

@mixin card($h, $w, $bg: $bone, $br: $corner) {
    border-radius: $br;
  /*   @extend %shadow; */
    background: $bg;
    height    : $h;
    width     : $w;
  }



#main{
    width: 100vw;
}